---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-bmc-kubevirt-io-v1beta1-virtualmachinebmc
  failurePolicy: Fail
  name: mvirtualmachinebmc-v1beta1.kb.io
  rules:
  - apiGroups:
    - bmc.kubevirt.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - virtualmachinebmcs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-bmc-kubevirt-io-v1beta1-virtualmachinebmc
  failurePolicy: Fail
  name: vvirtualmachinebmc-v1beta1.kb.io
  rules:
  - apiGroups:
    - bmc.kubevirt.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - virtualmachinebmcs
  sideEffects: None
