# This rule is not used by the project kubevirtbmc itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over virtualmachine.kubevirt.io.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: kubevirtbmc
    app.kubernetes.io/managed-by: kustomize
  name: virtualmachine-virtualmachinebmc-admin-role
rules:
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs
  verbs:
  - '*'
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs/status
  verbs:
  - get
