apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-leader-election-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachines
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs/finalizers
  verbs:
  - update
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: virtbmc-rbac
    app.kubernetes.io/created-by: kubevirtbmc
    app.kubernetes.io/instance: virtbmc-role
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/part-of: kubevirtbmc
  name: {{ include "chart.name" . }}-virtbmc-role
rules:
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachines
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachineinstances
  verbs:
  - get
  - list
  - watch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-virtualmachinebmc-admin-role
rules:
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs
  verbs:
  - '*'
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-virtualmachinebmc-editor-role
rules:
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-virtualmachinebmc-viewer-role
rules:
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - virtualmachine.kubevirt.io
  resources:
  - virtualmachinebmcs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "chart.name" . }}-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "chart.serviceAccountName" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "chart.name" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "chart.serviceAccountName" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "chart.name" . }}-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: {{ include "chart.serviceAccountName" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: rbac
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  name: {{ include "chart.name" . }}-virtbmc-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "chart.name" . }}-virtbmc-role
subjects:
- kind: ServiceAccount
  name: {{ include "chart.serviceAccountName" . }}-virtbmc
  namespace: {{ .Release.Namespace }}
