apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook
    app.kubernetes.io/part-of: kubevirtbmc
  name: {{ include "chart.name" . }}-webhook-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: https
    port: {{ .Values.service.webhookPort }}
    protocol: TCP
    targetPort: webhook-server
  selector:
    {{- include "chart.selectorLabels" . | nindent 6 }}
