apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "chart.name" . }}-serving-cert
  name: {{ include "chart.name" . }}-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "chart.name" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-bmc-kubevirt-io-v1beta1-virtualmachinebmc
  failurePolicy: Fail
  name: mvirtualmachinebmc-v1beta1.kb.io
  rules:
  - apiGroups:
    - bmc.kubevirt.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - virtualmachinebmcs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook
    app.kubernetes.io/part-of: {{ include "chart.name" . }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "chart.name" . }}-serving-cert
  name: {{ include "chart.name" . }}-validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "chart.name" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-bmc-kubevirt-io-v1beta1-virtualmachinebmc
  failurePolicy: Fail
  name: vvirtualmachinebmc-v1beta1.kb.io
  rules:
  - apiGroups:
    - bmc.kubevirt.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - virtualmachinebmcs
  sideEffects: None